* {
    box-sizing: border-box;
}
body {
    font-family: Candara;
}

.clear {
    clear: both;
}
.text-center {
    text-align: center;
}
.upper {
    text-transform: uppercase;
}
.main-color {
    color: $OrangeColor;
}
.main-background {
    background-color: $OrangeColor;
}
.overlay {
    background: rgba(49, 55, 61, .7);
    width: 100%;
    height: 100%;
}
input[placeholder] {
    color: #888;
    font-size: 14px;
    margin-left: 10px;

}

.hidden {
    display: none;
}
